.profile-image {
    width: 100px;
    padding-bottom: 20px;
}

.book-posts {
    max-width: 47rem;
    padding-top: 3rem;
}

img {
    max-width: 100%;
}

.linksBlock {
    margin-top: 30px;
}

.linksBlock a {
    text-decoration: underline;
}

.book-posts a:visited {
    color: #004ed0
}

li.page-item {
    list-style-type: none;
}

ul.pagination .page-item a {
    padding: 0.5rem;
}

