<!DOCTYPE html>
{{- partial "docs/shared" -}}
<html lang="{{ .Site.Language.Lang }}">

<head>
  {{ partial "docs/html-head" . }}
  {{ partial "docs/inject/head" . }}

  <link rel="stylesheet" href="/css/routeros.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>

<body>
  <input type="checkbox" style="display: none" id="menu-control" />
  <main class="flex container">
    <aside class="book-menu fixed">
      {{ partial "docs/menu" . }}
    </aside>

    <div class="book-posts">
      {{ partial "docs/mobile-header" . }}
      {{ template "main" . }}
      {{ partial "docs/inject/footer" . }}
    </div>
  </main>

  {{ partial "docs/inject/body" . }}
  {{ template "_internal/google_analytics_async.html" . }}

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-49752272-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-49752272-2');
  </script>
</body>

</html>
